In [2]:
import pandas as pd
# Print the Pandas version
print(pd.__version__)

2.2.3

In [3]:
# Create series with Pandas
series = pd.Series(data = ['Geeks','for','geeks'],
                   index = ['A','B','C'])
series

A    Geeks
B      for
C    geeks
dtype: object

In [10]:
data = {'Fruits': ['Mango', 'Apple', 'Banana', 'Orange'],
        'Quantity': [40, 20, 25, 10],
        'Price': [80, 100, 50, 70]
        }

# Create Pandas Dataframe with dictionary
df = pd.DataFrame(data)
print(df)

   Fruits  Quantity  Price
0   Mango        40     80
1   Apple        20    100
2  Banana        25     50
3  Orange        10     70

In [12]:
df.dtypes

Fruits      object
Quantity     int64
Price        int64
dtype: object

In [15]:
df.shape

(4, 3)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruits    4 non-null      object
 1   Quantity  4 non-null      int32
 2   Price     4 non-null      float64
dtypes: float64(1), int32(1), object(1)
memory usage: 212.0+ bytes

In [19]:
#Change the Data type
df['Quantity'] = df['Quantity'].astype('int32')
df['Fruits'] = df['Fruits'].astype('str')
df['Price'] = df['Price'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruits    4 non-null      object
 1   Quantity  4 non-null      int32
 2   Price     4 non-null      float64
dtypes: float64(1), int32(1), object(1)
memory usage: 212.0+ bytes

In [ ]:
df.values

In [23]:
# Sorting in Ascending order
print(df.sort_values('Price', ascending=True))

   Fruits  Quantity  Price
2  Banana        25   50.0
3  Orange        10   70.0
0   Mango        40   80.0
1   Apple        20  100.0

In [24]:
# Sorting in Descending order
print(df.sort_values('Price', ascending=False))

   Fruits  Quantity  Price
1   Apple        20  100.0
0   Mango        40   80.0
3  Orange        10   70.0
2  Banana        25   50.0

In [25]:
print(df.sort_index(ascending=False))

   Fruits  Quantity  Price
3  Orange        10   70.0
2  Banana        25   50.0
1   Apple        20  100.0
0   Mango        40   80.0

In [26]:
# Reset the indexes to default
# inplace = True will make changes to the orginal dataframe
# drop =True will drop the initial indexes
df.reset_index(drop=True, inplace=True)
print(df)

   Fruits  Quantity  Price
0   Mango        40   80.0
1   Apple        20  100.0
2  Banana        25   50.0
3  Orange        10   70.0

In [4]:
df.rename(columns={'Fruits': 'FRUITS',
                   'Quantity': 'QUANTITY',
                   'Price': 'PRICE'},
          inplace=True)
print(df)

   FRUITS  QUANTITY  PRICE
0   Mango        40     80
1   Apple        20    100
2  Banana        25     50
3  Orange        10     70

In [28]:
# Gather columns into rows.
print(pd.melt(df))

    variable   value
0     FRUITS   Mango
1     FRUITS   Apple
2     FRUITS  Banana
3     FRUITS  Orange
4   QUANTITY      40
5   QUANTITY      20
6   QUANTITY      25
7   QUANTITY      10
8      PRICE    80.0
9      PRICE   100.0
10     PRICE    50.0
11     PRICE    70.0

In [29]:
# Pivot table
pivot = df.pivot(columns='FRUITS',
                 values=['PRICE', 'QUANTITY'])
print(pivot)

        PRICE                     QUANTITY
FRUITS  Apple Banana Mango Orange    Apple Banana Mango Orange
0         NaN    NaN  80.0    NaN      NaN    NaN  40.0    NaN
1       100.0    NaN   NaN    NaN     20.0    NaN   NaN    NaN
2         NaN   50.0   NaN    NaN      NaN   25.0   NaN    NaN
3         NaN    NaN   NaN   70.0      NaN    NaN   NaN   10.0

In [30]:
# Drop the DISCOUNT Columns
df1 = df.drop(columns=['QUANTITY'], axis=1)
print(df1)

   FRUITS  PRICE
0   Mango   80.0
1   Apple  100.0
2  Banana   50.0
3  Orange   70.0

In [31]:
# Drop 2nd and 4th rows
df2 = df.drop([1, 3], axis=0)
print(df2)

   FRUITS  QUANTITY  PRICE
0   Mango        40   80.0
2  Banana        25   50.0

In [32]:
# Print first 5 rows
print(df.head())

   FRUITS  QUANTITY  PRICE
0   Mango        40   80.0
1   Apple        20  100.0
2  Banana        25   50.0
3  Orange        10   70.0

In [13]:
# Print Last 5 rows
print(df.tail())

   Fruits  Quantity  Price
0   Mango        40     80
1   Apple        20    100
2  Banana        25     50
3  Orange        10     70

In [16]:
# Randomly select n rows
print(df.sample(3))

   Fruits  Quantity  Price
3  Orange        10     70
0   Mango        40     80
1   Apple        20    100

In [21]:
# Select top 2 Highest Price
print(df.nlargest(2, 'Price'))

  Fruits  Quantity  Price
1  Apple        20    100
0  Mango        40     80

In [22]:
# Select 2 least Price
print(df.nsmallest(2, 'Price'))

   Fruits  Quantity  Price
2  Banana        25     50
3  Orange        10     70

In [23]:
# Select the price > 50
print(df[df.Price > 50])

   Fruits  Quantity  Price
0   Mango        40     80
1   Apple        20    100
3  Orange        10     70

In [25]:
# Select the FRUITS name
print(df['Fruits'])

0     Mango
1     Apple
2    Banana
3    Orange
Name: Fruits, dtype: object

In [27]:
# Select the FRUITS name and
# their corresponding PRICE
print(df[['FRUITS', 'PRICE']])

   FRUITS  PRICE
0   Mango     80
1   Apple    100
2  Banana     50
3  Orange     70

In [28]:
# Select the columns whose names match 
# the regular expression
print(df.filter(regex='F|Q'))

   FRUITS  QUANTITY
0   Mango        40
1   Apple        20
2  Banana        25
3  Orange        10

In [29]:
# Select all the columns between Fruits and Price
print(df.loc[:, 'FRUITS':'PRICE'])

   FRUITS  QUANTITY  PRICE
0   Mango        40     80
1   Apple        20    100
2  Banana        25     50
3  Orange        10     70

In [30]:
# Select FRUITS name having PRICE <70
print(df.loc[df['PRICE'] < 70,
             ['FRUITS', 'PRICE']])

   FRUITS  PRICE
2  Banana     50

In [31]:
# Select 2:5 rows
print(df.iloc[2:5])

   FRUITS  QUANTITY  PRICE
2  Banana        25     50
3  Orange        10     70

In [32]:
# Select Single PRICE value at 2nd Postion
df.at[1, 'PRICE']

np.int64(100)

In [33]:
# Select the single values by their position
df.iat[1, 2]

np.int64(100)

In [34]:
#Filter by column name
print(df.filter(items=['FRUITS', 'PRICE']))

   FRUITS  PRICE
0   Mango     80
1   Apple    100
2  Banana     50
3  Orange     70

In [35]:
# Filter by row index
print(df.filter(items=[3], axis=0))

   FRUITS  QUANTITY  PRICE
3  Orange        10     70

In [37]:
# Where
df['PRICE'].where(df['PRICE'] > 50)

0     80.0
1    100.0
2      NaN
3     70.0
Name: PRICE, dtype: float64

In [38]:
# QUERY
print(df.query('PRICE>70'))

  FRUITS  QUANTITY  PRICE
0  Mango        40     80
1  Apple        20    100

In [39]:
# Price >50 & QUANTITY <30
print(df.query('PRICE>50 and QUANTITY<30'))

   FRUITS  QUANTITY  PRICE
1   Apple        20    100
3  Orange        10     70

In [40]:
# FRUITS name start with 'M'
print(df.query("FRUITS.str.startswith('M')", ))

  FRUITS  QUANTITY  PRICE
0  Mango        40     80

In [3]:
#Combine Two data sets
#Create 1st dataframe
df1 = pd.DataFrame({'Fruits': ['Mango', 'Banana',
                               'Grapes', 'Apple',
                               'Orange'],
                    'Price':  [60, 40, 75, 100, 65]})
print(df1)

   Fruits  Price
0   Mango     60
1  Banana     40
2  Grapes     75
3   Apple    100
4  Orange     65

In [4]:
# Create 2st dataframe
df2 = pd.DataFrame({'Fruits': ['Apple', 'Kiwi', 'Melon', 'Lime', 'Coconut'],
                               'Price': [80, 90, 100, 110, 120]})
print(df2)

    Fruits  Price
0    Apple     80
1     Kiwi     90
2    Melon    100
3     Lime    110
4  Coconut    120

In [5]:
# Merge two dataframe
# A. Left Join
print(pd.merge(df1, df2,
               how='left', on='Fruits'))

   Fruits  Price_x  Price_y
0   Mango       60      NaN
1  Banana       40      NaN
2  Grapes       75      NaN
3   Apple      100     80.0
4  Orange       65      NaN

In [6]:
# B. Right Join
print(pd.merge(df1, df2,
               how='right', on='Fruits'))

    Fruits  Price_x  Price_y
0    Apple    100.0       80
1     Kiwi      NaN       90
2    Melon      NaN      100
3     Lime      NaN      110
4  Coconut      NaN      120

In [7]:
#C. Inner Join
print(pd.merge(df1, df2,
               how='inner', on='Fruits'))

  Fruits  Price_x  Price_y
0  Apple      100       80

In [8]:
#D. Outer Join
print(pd.merge(df1, df2,
               how='outer', on='Fruits'))

    Fruits  Price_x  Price_y
0    Apple    100.0     80.0
1   Banana     40.0      NaN
2  Coconut      NaN    120.0
3   Grapes     75.0      NaN
4     Kiwi      NaN     90.0
5     Lime      NaN    110.0
6    Mango     60.0      NaN
7    Melon      NaN    100.0
8   Orange     65.0      NaN

In [11]:
# Concatenation
# A. Row-wise Concatenation having the same column name
data = {'FRUITS': ['Grapes', 'Pineapple'],
        'QUANTITY': [23, 17],
        'PRICE': [60, 30]
        }

# Create Pandas Dataframe with dictionary
df1 = pd.DataFrame(data)

# Concatenate df and df1
df2 = pd.concat([df, df1], axis=0,
                ignore_index=True)
print(df2)

   Fruits  Quantity  Price     FRUITS  QUANTITY  PRICE
0   Mango      40.0   80.0        NaN       NaN    NaN
1   Apple      20.0  100.0        NaN       NaN    NaN
2  Banana      25.0   50.0        NaN       NaN    NaN
3  Orange      10.0   70.0        NaN       NaN    NaN
4     NaN       NaN    NaN     Grapes      23.0   60.0
5     NaN       NaN    NaN  Pineapple      17.0   30.0

In [12]:
#B. Column-wise Concatenation having the same column name
data = {'DISCOUNT': [5, 7, 10, 8, 6]}

# Create Pandas Dataframe with dictionary
discount = pd.DataFrame(data)

# Concatenate df2 and discount
df = pd.concat([df2, discount], axis=1)
print(df)

   Fruits  Quantity  Price     FRUITS  QUANTITY  PRICE  DISCOUNT
0   Mango      40.0   80.0        NaN       NaN    NaN       5.0
1   Apple      20.0  100.0        NaN       NaN    NaN       7.0
2  Banana      25.0   50.0        NaN       NaN    NaN      10.0
3  Orange      10.0   70.0        NaN       NaN    NaN       8.0
4     NaN       NaN    NaN     Grapes      23.0   60.0       6.0
5     NaN       NaN    NaN  Pineapple      17.0   30.0       NaN

In [13]:
# Descriptive Analysis Pandas
# Describe dataset
#A. For numerical datatype

print(df.describe())

       Quantity      Price   QUANTITY      PRICE   DISCOUNT
count      4.00    4.00000   2.000000   2.000000   5.000000
mean      23.75   75.00000  20.000000  45.000000   7.200000
std       12.50   20.81666   4.242641  21.213203   1.923538
min       10.00   50.00000  17.000000  30.000000   5.000000
25%       17.50   65.00000  18.500000  37.500000   6.000000
50%       22.50   75.00000  20.000000  45.000000   7.000000
75%       28.75   85.00000  21.500000  52.500000   8.000000
max       40.00  100.00000  23.000000  60.000000  10.000000

In [14]:
# B. For object datatype
print(df.describe(include=['O']))

       Fruits  FRUITS
count       4       2
unique      4       2
top     Mango  Grapes
freq        1       1